@font-face {
    font-family: gameFont;
    src: url('assets/font.ttf');
}

@font-face {
    font-family: uiFont;
    src: url('assets/minecraft.ttf');
}


:root {
    --color-a: #e6611d;
    --color-b: #ded798;
    --color-c: #553006;
    --color-d: #928e6c;
    --btn-width: 2px;
    --btn-width-minus: -2px;
    --speed: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gameFont;
}

*:focus {
    outline: none;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 900px;
    background: linear-gradient(#709cce, #ffffff);
}

#menu-container,
#game-container {
    position: absolute;
    inset: 0;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 50px;
}

.buttons-container {
    display: flex;
    justify-content: stretch;
    flex: 1;
    max-height: 68px;
    gap: 20px;
}


#game-container {
    display: none;
    position: relative;
    width: min(540px, 90vh);
    aspect-ratio: 150 / 250;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}



h2,
h3 {
    font-size: 64px;
    z-index: 10;
    font-weight: bolder;
}

#score-label {
    align-self: flex-start;
    padding: 20px;
}


#game-ui {
    position: absolute;
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#gameover-label {
    display: block;
    color: var(--color-a);
}

#play-pause-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#play-icon {
    display: none;
}

img {
    image-rendering: pixelated;
}

button {
    display: flex;
    background: var(--color-a);
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: fit-content;
    border: 3px solid var(--color-c);
    border-bottom: 9px solid var(--color-c);
    cursor: pointer;
    font-family: uiFont;
    font-size: clamp(18px, -2rem + 9.6vw, 32px);
    line-height: 32px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 5px #00000060;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

button:active {
    transform: translateY(6px);
    border-bottom: 3px solid var(--color-c);
    text-shadow: none;
}

#background {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

/* SCORE INPUT */
#score-input {
    display: none;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    gap: 20px;
    background-color: var(--color-b);
    align-items: center;
}

#score-input h4 {
    font-family: uiFont;
    color: var(--color-c);
    font-size: 32px;
}

#score-input input {
    font-size: 28px;
    font-family: uiFont;
    padding: 0px;
    text-align: center;
    letter-spacing: 5px;
    background-color: transparent;
    text-transform: uppercase;
    flex: 1;
    width: 100%;
    border: none;
    max-width: calc(4 * 28px);
    border-bottom: 4px solid transparent;
    border-image: repeating-linear-gradient(to right,
            var(--color-c) 0,
            var(--color-c) 20px,
            transparent 20px,
            transparent 40px) 0 0 100% 0;
    border-image-slice: 1;
    border-image-width: 0 0 4px 0;
}

#score-input button {
    height: 60px;
    width: 100%;
}


/* HIGHSCORES */
#highscores-container {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    gap: 10px;
}

.scores {
    display: flex;
    max-width: 80%;
    width: 100%;
    background-color: var(--color-b);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.scores .left,
.scores .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.scores label {
    color: white;
    font-size: 48px;
}

.scores p {
    font-family: uiFont;
    font-size: 28px;
    font-weight: bold;
}

.scores p.no-score {
    color: var(--color-d);
}


.pixel-corners {
    clip-path: polygon(0px calc(100% - 8px),
            4px calc(100% - 8px),
            4px calc(100% - 4px),
            8px calc(100% - 4px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 4px) 8px,
            calc(100% - 4px) 4px,
            calc(100% - 8px) 4px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 4px,
            4px 4px,
            4px 8px,
            0px 8px);
}

#loader {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

#loader label {
    font-size: 32px;
    color: white;
    font-family: uiFont;
}

#loader svg {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loader;
}

.disabled {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

@keyframes loader {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}