@font-face {
  font-family: gameFont;
  src: url('assets/outside.ttf');
}


:root {
    --color-a: #ff0000;

    --btn-width: 2px;
    --btn-width-minus: -2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gameFont;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 900px;
    background: linear-gradient(#709cce, #ffffff);
}

#menu-container,
#game-container {
    position: absolute;
    inset: 0;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#buttons-container {
    display: flex;
    justify-content: stretch;
    flex: 1;
    max-width: 80%;
    gap: 20px;
}
#buttons-container img {
    flex: 1;
}

#game-container {
    display: none;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

img {
    image-rendering: pixelated;  
}

button {
    display: flex;
    flex: 1;
    background: transparent;
    border: none;
    cursor: pointer;
}



#bird {
    width: 64px;
    height: auto;
}

#background {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}